.root {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  /* max-width: 30%; */
}

.article img {
  width: 350px;
  height: 230px;
}

@media (max-width: 768px) {
  .root {
    flex-direction: column;
  }
}
