.centerform{
    width: 100%;
}
.contactForm{
    width: 50%;
    margin: 100px ;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}
label input, textarea{
    margin-left: 20px;
}
button{
    width: 30%;
    margin-left: 50px;
}